<div class="root">
  <h1> Welcome to
    <img class="dorkle-logo" src="<%= image_path("dorkle-logo.png") %>">
  </h1>

  <div class="hot-games">
    <h2>People really dig these games</h2>
    <ul class="hot-games-list">
      <% @hot_games.each do |game| %>
      <%= render "games/item", game: game, with_user: true %>
      <% end %>
    </ul>
  </div>

  <!-- <div class="leaderboard">
    <h2>Biggest Dorks</h2>
    <ul class="leaderboard-list">
      <%# @best_users.each do |user| %>
      <%# end %>
    </ul>
  </div> -->


</div>
