<h2>Details</h2>

<table>
  <tr>
    <td class="default-key">Name</td>
    <td class="default-value"><%= user.escape('name') || "Anonymous" %></td>
  </tr>
  <tr>
    <td class="default-key">Username</td>
    <td class="default-value"><%= user.escape('username') %></td>
  </tr>
  <% if (isCurrentUser) { %>
  <tr>
    <td class="default-key">Email</td>
    <td class="default-value"><%= user.escape('email') %></td>
  </tr>
  <% } %>
</table>

<% if (isCurrentUser) { %>
  <% var currentUserEditPath = '/users/' + user.id + '/edit' %>
  <a class="user-show-profile-update button-default"
    href="<%= currentUserEditPath %>">UPDATE YOUR PROFILE</a>
<% } %>
