<h1><%= user.getName() ? user.getName() : '...' %></h1>

<div class="group">
  <div class="user-show-content group">
    <img src="<%= user.escape('image_url_show') %>">
  </div>

  <div class="user-show-created-games">
    <h2>Created Games</h2>
    <ul class="user-show-created-games-list"></ul>
  </div>
</div>
