<h1><%= round.game ? round.game.get("title") : "Loading..." %></h1>

<div class="round-show game-answers-index group">
  <div class="game-answers-add-new">
    <form class="default" method="post">
      <div>
        <label for="guess">Guess!</label>
        <input type="text" id="guess-box" autocomplete="off">
      </div>

      <button>Try it!</button>
    </form>
  </div>

  <div class="game-answers-existing">
    <h2>Correct Answers</h2>
    <ul>
      <li class="group">
        <span class="game-answer-list-item">doggies</span>
      </li>
    </ul>
  </div>
</div>
