<h1>Change the Game</h1>

<div class="game-edit-fields">
  <div class="game-editing"></div>
  <div class="game-answers"></div>
</div>

<button class="game-form-submit">Change It Up!</button>
<a class="game-edit-return" href="javascript:void(0)">Forget It</a>
