<h1>Change the Game</h1>

<div class="game-edit-fields group">
  <div class="game-editing"></div>
  <div class="game-answers"></div>
</div>

<div class="game-edit-controls group">
  <button class="game-form-submit button-default">CHANGE IT UP!</button>
  <a class="game-edit-return button-default" href="javascript:void(0)">
    BACK TO THE GAME</a>
</div>
