<h1>New Game</h1>

<div class="game-new-fields group">
  <div class="game-add-new"></div>
  <div class="game-answers"></div>
</div>

<button class="game-form-submit button-default">GET YOUR GAME ON!</button>
