// BACKGROUND COLORS
$bg-whitebeige: #FFFEF9;
$bg-beige: #FFFAEA;
$bg-azure: #C6DEFF;
$bg-teal: linear-gradient(to top, #9FFFD6, #C6FFE7);
$bg-amber: #FFE7C6;
$bg-pink: #FFC6DE;
$bg-yellow-gradient: linear-gradient(to top, #FAFA00, #FFFF99);
$bg-orange-gradient: linear-gradient(to top, #FFC500, #FFE055);
$bg-blue-gradient: linear-gradient(to top, #0845BF, #175CE5);

// FONT COLORS
$ft-darkblue: #0845BF;
$ft-blue: #175CE5;
$ft-lightblue: #58ACEE;
$ft-whiteblue: #FCFDFF;
$ft-brown: #654321;
$ft-darkbrown: #332211;
$ft-red: #C60053;
$ft-yellow: #FFA529;
$ft-green: #00B267;

// BORDER COLORS
$br-light: #CCCCE9;
$br-teallight: #CCE9CC;
$br-orange: orange;
