// BACKGROUND COLORS
$bg-beige: #FFFDF3;
$bg-tan: #FFF6C6;
$bg-yellow-gradient: linear-gradient(to top, #FAFA00, #FFFF99);
$bg-orange-gradient: linear-gradient(to top, #FFC500, #FFE977);

// FONT COLORS
$ft-darkblue: #0845BF;
$ft-blue: #175CE5;
$ft-lightblue: #58ACEE;
$ft-whiteblue: #FCFDFF;
$ft-darkbrown: #332211;

// BORDER COLORS
$br-light: #CCCCE9;
$br-orange: orange;
