/* CLEARFIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}


/* FREEZE */

header .fixed {
  position: fixed;
  top: 0;
  left: 0;
}


/* NOT ACTUALLY FUNCTIONAL IN ANY WAY */

.barrel-roll {
  -webkit-animation: barrelroll 2.5s;
}
