<form class="default" action="<%= query_search_url %>" method="POST">
  <%= auth_input %>
  <%= update_input(:get) %>
  <input type="text" name="search[query]" id="search_query"
    value="<%= query %>" placeholder= "search">
</form>
