<%= notification.escape('text') %>
<div class="notification-controls">
  <a class="notification-follow"
    href="<%= notification.escape('url') %>">show me!</a>
  <input class="notification-delete" type="submit" value="ight">
</div>
