@import "utils/colors";
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,700,300italic,400italic);


/* TAG DEFAULTS */

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.3em;
  color: $ft-darkbrown;
  background: $bg-whitebeige;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: $ft-darkblue;
  padding: 10px 40px;
  line-height: 90%;
  text-align: center;
  border-bottom: 2px solid $br-orange;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  color: $ft-brown;
  padding: 10px 20px;
  margin-bottom: 15px;
  line-height: 90%;
  border-bottom: 1px solid $br-light;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}

div, img, li {
  border-radius: 3px;
}


/* FORM DEFAULTS */

form.default {
  background: $bg-amber;
  padding: 10px;

  > div {
    margin-bottom: 10px;
    padding: 10px;
    background: $bg-azure;
    border: 2px solid $br-light;
  }

  > div:last-child {
    margin-bottom: 0;
  }

  label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: 2px solid $br-light;
    border-radius: 6px;
    text-align: center;
    background: $bg-beige;
  }

  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    border: 2px solid $br-teallight;
  }
}

.button-default {
  position: relative;
  display: block;
  padding: 10px 15px;
  background: $bg-yellow-gradient;
  color: $ft-blue;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 3px;
  border-radius: 6px;
  text-align: center;
  transition: top 0.15s, box-shadow 0.15s, color 0.15s;
  box-shadow: 0 3px 0 $br-orange;
  top: 0;
}

.button-default:hover {
  background: $bg-orange-gradient;
}

.button-default:active {
  top: 3px;
  background: $bg-orange-gradient;
  color: $ft-whiteblue;
  box-shadow: none;
}


/* TABLE DEFAULTS */

table td.default-key {
  font-weight: 300;
  text-align: right;
}

table td.default-key:after {
  content: ":";
}

table td.default-value {
  display: inline-block;
  padding: 0 10px;
  font-style: italic;
  color: $ft-darkblue;
  margin-left: 20px;
  word-wrap: break-word;
}
