footer {
  width: 80%;
  min-width: 900px;
  margin: 0 auto;
  background: lightgrey;
}

footer a {
  display: block;
  padding: 8px;
  margin: 0 auto;
  background: dimgrey;
  color: white;
  text-align: center;
  font-size: 1.5em;
}
