@import "utils/colors";

.game-new,
.game-edit {
  .game-new-fields,
  .game-edit-fields {
    .game-add-new,
    .game-editing {
      float: left;
      width: 50%;

      #game_image {
        visibility: hidden;
        position: absolute;
      }

      #game_image-button {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 5px;
        opacity: 0.8;
      }
    }

    .game-answers {
      margin-top: 40px;
      float: right;
      width: 47.5%;

      h2 {
        text-align: center;
      }

      .game-answers-list {
        text-align: center;
        margin-bottom: 15px;
        line-height: 0.3;

        .game-answer-item {
          position: relative;
          line-height: 1.5;

          span {
            max-width: 92.5%;
          }

          .game-answer-show-dropdown {
            float: right;
            display: inline-block;
            color: $ft-green;
            font-weight: bold;
            opacity: 0.67;
            padding: 4px 5px 0 5px;
            border-radius: 3px;
            margin-left: -5px;
            font-size: 0.7em;
            position: relative;
            top: 2px;
            left: 8px;
          }

          .game-answer-show-dropdown:hover:not(.active) {
            background: $bg-azure;
            color: $ft-lightblue;
            -webkit-animation: wiggle 0.33s;
          }

          .game-answer-show-dropdown.active {
            background: $ft-darkblue;
            color: $bg-azure;
          }

          .game-answer-show-dropdown:hover ~ .game-answer-dropdown {
            display: block;
          }

          .game-answer-dropdown.active {
            display: block;
            opacity: 0.92;
          }

          .game-answer-dropdown {
            display: none;
            position: absolute;
            width: 300px;
            padding: 5px;
            overflow: hidden;
            z-index: 2;
            top: 98%;
            left: -150px;
            border: 2px solid $br-light;
            background: $bg-azure;
            font-weight: 300;
            opacity: 0.1;
            transition: opacity 0.25s;

            label {
              font-style: italic;
            }

            input[type=text] {
              width: 100%;
              border-radius: 5px;
              background: $bg-beige;
              text-align: center;
              margin-bottom: 5px;
              border: 2px solid $br-light;
            }

            button {
              float: left;
              margin-top: 10px;
              width: 148px;
              height: 30px;
              line-height: 0.5;
              border-radius: 3px;
              background: magenta;
              color: white;
            }

            .game-answer-save {
              margin-right: 4px;
              background: $ft-green;
            }

            .game-answer-delete {
              background: $ft-red;
            }
          }
        }
      }

      .game-answers-new {
        position: relative;

        .help-tag {
          position: absolute;
          right: 20px;
          font-size: 12px;
          font-weight: 300;
          font-style: italic;
          border-radius: 3px;
          padding: 2px 5px;
          color: $ft-darkblue;
        }

        .help-tag:hover {
          background: $ft-darkblue;
          color: $bg-azure;
        }

        .help-tag:hover ~ .regex-explanation {
          display: block;
        }

        .regex-explanation {
          display: none;
          position: absolute;
          z-index: 2;
          width: 275px;
          padding: 5px 10px;
          border: 2px solid $br-light;
          border-radius: 5px;
          left: 175px;
          opacity: 0.9;
          background: $ft-darkblue;
          color: $bg-azure;
          font-size: 14px;
          text-align: left;

          small {
            margin-top: 14px;
            font-size: 12px;
            font-style: italic;
          }
        }

        .game-answers-form-submit {
          width: 100%;
          opacity: 0.7;
        }
      }
    }
  }

  .game-form-submit {
    margin-top: 20px;
    width: 100%;
  }

  .game-edit-controls {
    margin-top: 20px;

    > * {
      width: 48%;
      box-sizing: border-box;
    }

    .game-form-submit {
      margin: 0;
      float: left;
    }

    .game-edit-return {
      float: right;
    }
  }
}
