@import "utils/colors";

header {
  width: 100%;
  padding-bottom: 45px;
  background: $bg-beige;
  li {
    float: left;
  }

  .top-bar {
    width: 80%;
    min-width: 1000px;
    margin: 0 auto;

    .dorkle-logo-link {
      display: block;
      float: left;
      position: relative;
      z-index: 4;
      height: 60px;
      padding: 5px 15px;
    }

    .dorkle-logo-link:hover > .dorkle-logo {
      -webkit-animation: barrelroll 1s;
    }

    .dorkle-logo {
      height: 100%;
      width: auto;
    }

    .welcome-message {
      display: inline-block;
      padding: 24px;
      font-size: 0.7em;
      font-weight: 300;
      color: gray;

      > a {
        text-decoration: underline;
      }
    }

    ul.session-info {
      float: right;
      padding: 11px 0;

      li {
        border-left: 1px solid $br-light;

        .current-user-image {
          float: left;
          height: 44px;
          width: auto;
          border: 2px solid $br-light;
        }
      }

      li:first-child {
        border: 0;
      }

      a, input[type="submit"] {
        display: block;
        float: left;
        padding: 10px 20px 9px 20px;
        font-size: 0.9em;
        font-weight: bold;
        color: $ft-darkblue;
      }
    }
  }

  .navbar {
    position: relative;
    z-index: 3;
    width: 100%;
    margin-bottom: -45px;
    background: $bg-yellow-gradient;
    border-top: 1px solid $br-light;
    box-shadow: 0 3px 0 $br-orange;
    color: $ft-blue;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 3px;

    ul {
      width: 80%;
      min-width: 1000px;
      margin: 0 auto;
      border: solid $br-light;
      border-width: 0 1px;
    }

    li {
      border-right: 1px solid $br-light;
    }

    li:last-child {
      float: right;
      border-left: 1px solid $br-light;
      border-right: 0;
    }

    li > a {
      position: relative;
      display: block;
      padding: 10px 25px;
      transition: top 0.15s, box-shadow 0.15s, color 0.15s;
      box-shadow: none;
      top: 0;
    }

    li > a:hover {
      background: $bg-orange-gradient;
    }

    li > a:active {
      top: 3px;
      color: $ft-whiteblue;
      background: $bg-orange-gradient;
      box-shadow: 0 -3px 0 $br-light;
    }
  }

}
