@import "utils/colors";

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

MAIN

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

main {
  position: relative;
  z-index: 0;
  width: 80%;
  min-width: 1000px;
  margin: 0px auto 0 auto;
  padding-bottom: 20px;
  border: solid $br-light;
  border-width: 0 1px 1px 1px;
  background: $bg-beige;
}

main > * {
  margin: 0 40px;
}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

GAME ANSWER ITEM

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.game-answer-item {
  display: inline-block;
  position: relative;
  padding: 3px 15px;
  margin: 5px;
  font-size: 0.75em;
  color: $ft-darkblue;
  border-radius: 23px;
  background: $bg-teal-gradient;
  box-shadow: 0 3px 0 $br-teallight;
  -webkit-animation: slapdown 0.25s;
}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

GAME SHOW ITEM

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.game-show-link {
  display: block;

  > img {
    float: left;
    height: 150px;
    width: auto;
    margin-right: 40px;
    border: 2px solid $br-orange;
    background: $bg-beige;
  }

  .game-item-title {
    color: $ft-brown;
  }

  span {
    display: block;
  }

  .game-item-subtitle {
    font-style: italic;
    margin-bottom: 12px;
  }

  .game-item-author, .game-item-time {
    float: left;
    padding: 0 20px;
    font-weight: 300;
  }

  .game-item-author {
    border-right: 1px solid $br-light;
  }
}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

KEYFRAMES

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@-webkit-keyframes barrelroll {
  0% { transform: rotate(0); }
  20%, 30% { transform: rotate(60deg); }
  70% { transform: rotate(-420deg); }
  90% { transform: rotate(-340deg); }
  100% { transform: rotate(-360deg); }
}


@-webkit-keyframes slapdown {
  0% {
    top: -150px;
    left: -150px;
    opacity: 0;
    transform: scale(5);
  }
  100% {
    top: 0;
    left: 0;
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes incorrectflash {
  0%, 100% {
    left: 0;
    background: $bg-beige
  }
  6%, 18%, 30%, 44% { left: -10px; }
  12%, 23%, 37% { left: 10px; }

  10%, 40% { background: $bg-pink }
}

@-webkit-keyframes slidedown {
  0%, 100% {
    top: -50px;
  }

  8%, 16%, 88% {
    top: 0px;
    transform: rotate(0deg);
  }

  10%, 12%, 14% {
    transform: rotate(-3deg);
  }

  11%, 13%, 15% {
    transform: rotate(3deg);
  }

  90%, 92% {
    top: 10px;
  }
}
