@import "utils/colors";

.round-show {
  > h1 {
    text-align: center;
  }

  .round-show-board {
    .round-show-board-guessing {
      .round-show-board-guess {
        float: left;
        width: 60%;
        background: $bg-azure;
        padding: 10px 20px;
        border: 2px solid $br-light;
        box-sizing: border-box;

        label {
          position: relative;
          display: block;
          padding: 0 30%;
          color: transparent;
        }

        label.ready-state {
          font-weight: 300;
          text-align: left;
          color: $ft-red;
          -webkit-animation: slapdown 0.5s;
        }

        label.set-state {
          font-weight: normal;
          text-align: right;
          color: $ft-yellow;
          -webkit-animation: slapdown 0.5s;
        }

        label.go-state {
          font-weight: bold;
          text-align: center;
          color: $ft-green;
          -webkit-animation: slapdown 0.5s;
        }

        label.game-over-state {
          font-weight: bold;
          text-align: center;
          color: $ft-red;
          -webkit-animation: slapdown 0.5s;
        }

        .guess-box {
          box-sizing: border-box;
          padding: 5px 2.5%;
          border: 2px solid $br-orange;
          border-radius: 6px;
          width: 100%;
          font-size: 1.25em;
          text-align: center;
          background: $bg-beige;
        }
      }

      .round-show-metrics {
        float: right;
        width: 30%;
        padding: 18px 25px;
        border: 2px solid $br-light;
        background: $bg-amber;
      }
    }
  }

  .round-show-board-status {
    margin-top: 20px;

    > h2 {
      text-align: center;
    }

    .board-status-matches-list {
      padding: 0 20px;
      min-height: 200px;
      text-align: center;

      li {
        display: inline-block;
        position: relative;
        padding: 3px 15px;
        margin: 5px;
        color: $ft-darkblue;
        border-radius: 23px;
        background: $bg-teal;
        box-shadow: 0 3px 0 $br-teallight;
        -webkit-animation: slapdown 0.3s;
      }
    }
  }
}

@-webkit-keyframes slapdown {
  0% {
    top: -500px;
    left: -100px;
    opacity: 0;
    transform: scale(10);
  }
  100% {
    top: 0;
    left: 0;
    opacity: 1;
    transform: scale(1);
  }
}
