@import "utils/colors";

.round-show {

  .round-show-board {
    .round-show-board-guessing {
      .round-show-board-guess {
        float: left;
        width: 60%;
        background: $bg-azure;
        padding: 10px 20px;
        border: 2px solid $br-light;
        box-sizing: border-box;

        label {
          position: relative;
          display: block;
          padding: 0 30%;
          color: transparent;
        }

        label.ready-state {
          font-weight: 300;
          text-align: left;
          color: $ft-red;
          -webkit-animation: slapdown 0.5s;
        }

        label.set-state {
          font-weight: normal;
          text-align: right;
          color: $ft-yellow;
          -webkit-animation: slapdown 0.5s;
        }

        label.go-state {
          font-weight: bold;
          text-align: center;
          color: $ft-green;
          -webkit-animation: slapdown 0.5s;
        }

        label.game-over-state {
          font-weight: bold;
          text-align: center;
          color: $ft-red;
          -webkit-animation: slapdown 0.5s;
        }

        .guess-box {
          position: relative;
          box-sizing: border-box;
          width: 100%;
          padding: 9px;
          border: 2px solid $br-orange;
          border-radius: 6px;
          text-align: center;
          background: $bg-beige;
        }

        .guess-box:disabled {
          background: $bg-azure;
        }

        .guess-box.incorrect-flash {
          -webkit-animation: incorrectflash 0.5s;
        }
      }

      .round-show-metrics {
        float: right;
        width: 30%;
        padding: 18px 25px;
        border: 2px solid $br-light;
        background: $bg-amber;
      }
    }
  }

  .round-show-board-status {
    margin-top: 20px;

    > h2 {
      text-align: center;
    }

    .board-status-matches-list {
      padding: 0 20px;
      min-height: 200px;
      text-align: center;
    }
  }
}
