@import "utils/colors";

.user-new,
.user-edit,
.session-new {

  > form {
    padding: 40px;
    border: 2px solid $br-orange;
    width: 650px;
    margin: 0 auto;

    input[type=file] {
      position: absolute;
      visibility: hidden;
    }
  }
}

.user-form-submit {
  margin-top: 40px;
  width: 100%;
}
