<h1>
  Welcome to
  <img class="dorkle-logo"
    src="https://s3-us-west-2.amazonaws.com/dorkle-production/images/show/dorkle-logo.png">
  <small>Time to get your game on!</small>
</h1>

<div class="root-content group">
  <div class="hot-games">
    <h2>People really dig these games</h2>
    <ul class="hot-games-list default"></ul>
  </div>

  <div class="leaderboard">
    <h2>Biggest Dorks</h2>
    <h3>Most Questions Answered</h3>
    <ul class="leaderboard-best-players-list default"></ul>

    <h3>Most Popular Created Games</h3>
    <ul class="leaderboard-best-authors-list default"></ul>
  </div>
</div>
