<% is_empty = current_user.notifications.unread.empty? %>
<ul class="notification-dropdown <%= is_empty ? "is-empty" : nil %>">
  <% current_user.notifications.each do |notification| %>
  <li class="group">
    <%= notification.text %>
    <div class="notification-controls">
      <%= link_to "show me!", notification.url %>
      <%= button_to acquiesce, notification_url(notification), method: :delete %>
    </div>
  </li>
  <% end %>
</ul>
